<div>
  <h3 class="text-lg px-2">Holdings</h3>
  <ion-grid class="mb-8">
    <ion-row>
      <ion-col>
        <div class="text-xs text-gray-400">Stock</div>
      </ion-col>
      <ion-col  size="auto">
        <div class="w-24 text-xs text-right text-gray-400">Price</div>
      </ion-col>
      <ion-col size="auto">
        <div class="w-16 text-xs text-right text-gray-400">Change</div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <div class="flex flex-col">
          <span>AAPL</span>
          <span class="text-sm text-gray-400">3,082 shares</span>
        </div>
      </ion-col>
      <ion-col  size="auto">
        <div class="w-24 text-sm text-right text-gray-400">
          <span>$104.44</span>
        </div>
      </ion-col>
      <ion-col size="auto">
        <div class="w-16 text-sm text-right text-gray-400">
          <span class="text-sm inline-block px-2 rounded bg-success text-gray-50">22.9%</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <div class="flex flex-col">
          <span>TSLA</span>
          <span class="text-sm text-gray-400">3,082 shares</span>
        </div>
      </ion-col>
      <ion-col  size="auto">
        <div class="w-24 text-right text-sm text-gray-400">
          <span>$104.44</span>
        </div>
      </ion-col>
      <ion-col size="auto">
        <div class="w-16 text-sm text-right text-gray-400">
          <span class="text-sm inline-block px-2 rounded bg-success text-gray-50">22.9%</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <div class="flex flex-col">
          <span>TIK</span>
          <span class="text-sm text-gray-400">3,082 shares</span>
        </div>
      </ion-col>
      <ion-col  size="auto">
        <div class="w-24 text-sm text-right text-gray-400">
          <span>$104.44</span>
        </div>
      </ion-col>
      <ion-col size="auto">
        <div class="w-16 text-sm text-right text-gray-400">
          <span class="text-sm inline-block px-2 rounded bg-success text-gray-50">22.9%</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
