<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <app-total-equity></app-total-equity>
  <app-holdings></app-holdings>
  <app-trending-stock (toggleCard)="toggleCard()"></app-trending-stock>
</ion-content>

<!-- Slide out card container -->
<ion-card class="absolute flex flex-col left-0 right-0 bottom-0 translate-y-[100vh] min-h-44 shadow-none rounded-2xl" #card>
  <div class="flex-1 p-2">
    Card
  </div>
  <div class="p-2">
<!--    <ion-button (click)="toggleCard()" class="w-full">Swipe to buy</ion-button>-->
    <app-swipe-to-confirm (confirmed)="placeOrder()" ></app-swipe-to-confirm>
  </div>
</ion-card>
